<!DOCTYPE html>
<html>

<head>

<title>Chatterbox</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<h2>💬 Chatterbox Chat</h2>

<div class="login">

<input id="username" placeholder="Enter your name">

<button onclick="joinChat()">Join Chat</button>

</div>

<div id="chatSection" style="display:none">

<select id="room">
<option value="general">General</option>
<option value="tech">Tech</option>
<option value="fun">Fun</option>
</select>

<div class="container">

<div class="chat-area">

<div id="chat"></div>

<div id="typing"></div>

<input id="msg" placeholder="Type message">

<button onclick="sendMessage()">Send</button>

</div>

<div class="users-area">

<h3>Online Users</h3>

<ul id="users"></ul>

</div>

</div>

</div>

<script src="/static/script.js"></script>

</body>
</html>